.overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(48, 49, 48, 0.42);
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}

.btn-back{
    background: #F5F6F8 !important;
}

.btn-back:hover{
    background: #006CFE !important;
    color:white !important;
}

.card-name{
    margin-bottom: 10px;
    font-size: 16px !important;
    color: #29291E !important;
    font-weight: 600 !important;
}

.card-desc{
    margin-bottom: 15px;
    font-weight: 300 !important;
    font-size: 13px !important;
    line-height: 25px !important;
    letter-spacing: 0.01em !important;
    color: #29291E !important;
}

.card-image{
    height: 200px;
}

/* .card-size{
    width: 300px;
    height:  100px;
} */

.card-welcome{
    background: #B6D5FF !important;
    border-radius: 20px;
}

.ilus{
    width: 400px;
    height: 250px;
}

.number-box{
    margin-bottom: 0;
    border-radius: 15px;
    background: rgba(255, 255, 255, .3);
    padding: 15px;
    margin-right: 15px;
    color: #fff;
}

/* .riwayat-height{
    max-height: 400px !important;
    overflow: scroll !important;
} */

.max-length{
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

/* .rara{
    padding-bottom: 15px;
    border-bottom: solid 1px rgb(194, 192, 192);
} */

.test{
    display: flex;
    justify-content: flex-end;
    /* margin: 0 15px 0 300px; */
}

.bg-none{
    background-color: none !important;
}