.overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(48, 49, 48, 0.42);
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}

.btn-back{
    background: #F5F6F8 !important;
}

.btn-back:hover{
    background: #006CFE !important;
    color:white !important;
}